@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

h1 {
	color:#FFA500;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h2 {
	color: #FFA500;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}

h3 {
	font-size: 14px;
	color: #42413C;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}


a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}

/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}

a:visited {
	color: #42413C;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~this fixed width container surrounds the other divs~~ */
.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	background-color: #F0FFFF;
	text-align: center;
	vertical-align: middle;
	font-size: 42px;
	color: #42413C;
	padding:10px;
}


/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/
.sidebar1 {
	float: left;
	width: 180px;
	padding-bottom: 10px;
	background-image: url(img/sidebar.png);
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.menu_content {
	color: #FFA500;
	line-height: 31px;
	margin-top: 31px;
	padding-left: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.menu_item {
	color: #8d9395;
	text-decoration: none;
	padding-left: 20px;
	margin-top: 10px;
	margin-left: 6px;
	line-height: 18px;
	font-size: 13px;
}

.content {
	padding: 10px 0;
	width: 780px;
	float:left;
	background-color:#FFF;
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}


/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.top_table {
	background-color: #F0F8FF;
	color: #FFF;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #F60;
	border-right-color: #F60;
	border-bottom-color: #F60;
	border-left-color: #F60;
	border-top-width: medium;
	border-right-width: medium;
	border-bottom-width: thin;
	border-left-width: medium;
	padding: 5px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a:hover {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* ~~ The footer ~~ */
.footer {
	padding: 1px 5px;
	background:#F0F8FF;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #FFA500;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}	
.container .footer p {
	font-size:10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.container .content table tr td p {
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
